
main {
  padding: 36px;
}

.nav-bar{
  margin: 0%;
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #e66706 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
}

.nav-logo{
  font-weight: 600;
  display: flex;
  margin-right: auto;
}

.nav-logo:hover{
  cursor: pointer;
  font-size: 110%;
}

.logo-img{
  width: 70px;
  margin-right: 10px;
}

.nav-account{
  display: flex;
}

.nav-login{
  margin-right: 22px;
}

.nav-my-favorite,
.nav-login{
  -webkit-text-stroke: 0.5px black;
  background-color: transparent;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  width: 100px;
  padding: 10px 20px;
  font-size: 16px;
}

.nav-my-favorite:hover,
.nav-login:hover{
  cursor: pointer;
  font-size: 18px;
}

.footer{
  padding: 20px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #e66706 1.18%, #A626D3 100%);
  color: white;
}

.footer div{
  margin: 10px;
}

.footer div:hover{
  cursor: pointer;
  font-size: 110%;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  column-gap: 17px;
  row-gap: 10px;
  margin-bottom: 15px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #A626D3 1.14%, #e66706 100%);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
}

.meme {
  position: relative;
  text-align: center;
  margin-bottom: 47px;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

.sign-in-page{
  margin-top: 55px;
  margin-bottom:21.8%;
  padding: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.sign-in-page label{
  margin-right: 15px;
}

.sign-in-page input{
  width: 200px;
  height: 25px;
  text-indent: 5px;
}

.btn{
  border: none;
  border-radius: 4px;
  width: 400px;
  padding: 10px;
  background: linear-gradient(90.41deg, #A626D3 1.14%, #e66706 100%);
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.btn:hover{
  cursor: pointer;
}

.alert-box{
  position: absolute;
  bottom:10px;
  right:10px;
  font-size: 20px;
  background-color: #e66706;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 25px;
  -webkit-text-stroke: 0.5px black;
}

.current-user-container{
  position: absolute;
  top: 250px;
  left: 35px;
  font-size: 20px;
  background-color: #c434f8;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 0px 25px;
  -webkit-text-stroke: 0.5px black;
}

.fav-page{
  margin-top: 45px;
  padding: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.about-page{
  margin: 20px 100px auto 100px;
  text-align: center;
}
